name: Shared Deploy Template

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
      deploy_env:
        required: true
        type: string
    secrets:
      SSH_HOST:
        required: true
      SSH_USER:
        required: true
      SSH_KEY:
        required: true
      SSH_PORT:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Executing ssh deploy command
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ~/erp_k8s/erp_k8s && \
            export KUBECONFIG=/etc/rancher/k3s/k3s.yaml && \
            
            if env "APP=${{ inputs.app_name }}" "BRANCH=${{ github.ref_name }}" "MODE=prod" bun utils.ts switch-branch; then
              STATUS="Success"
            else
              STATUS="Failed"
            fi

            END_TIME=$(date +'%H:%M:%S')

            curl -X POST http://localhost:30012/notify \
              -H "Content-Type: application/json" \
              -d "{
                \"service\": \"${{ inputs.app_name }}\",
                \"status\": \"$STATUS\",
                \"branch\": \"${{ github.ref_name }}\",
                \"time\": \"$END_TIME\",
                \"env\": \"${{ inputs.deploy_env }}\",
                \"actionUrl\": \"https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}\"
              }"